.my_container {
    max-width: 600px;
}

.task-item {
    border-bottom: 1px solid #dedede;
    padding: 5px 10px;
    cursor: pointer;
}

.task-text > .done {
    color: #bebebe;
    text-decoration: line-through;
}

.delete-mark {
    text-align: center;
}

.task-text:hover,
.delete-mark:hover {
    color: #ff0000;
}
