.my_container {
    max-width: 600px;
}

#tasks-list .task-item {
    border-bottom: 1px solid #dedede;
    padding: 5px 10px;
}

#tasks-list .task-text > .done {
    color: #bebebe;
    text-decoration: line-through;
}

#tasks-list .delete-mark {
    text-align: center;
}
